<turbo-stream action="replace" target="gear_list">
  <template>
    <div class="flex flex-col p-3 m-3 border border-gray-200 rounded-md">
      <h1>Gear</h1>
      <ul>
        <% character.gear.each do |gear| %>
          <li class="border-b border-gray-200">
            <div class="flex items-center">
              <p class="m-3"><%= gear.name %></p>
              <span class="grow"></span>
              <%= 
                button_to "X", 
                entity_resource_path(
                  entity_id: character.id, 
                  entity_type: "Character",
                  resource_id: gear.id,
                  resource_type: "Gear"
                ),
                class: "m-3 text-red-500", 
                method: :delete, 
                data: { 
                  turbo_action: "replace",
                  turbo_frame: "gear_list"
                } 
              %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </template>
</turbo-stream>