<turbo-frame action="replace" id="gear_list_<%= dom_id(character) %>">
  <div>
    <h1>Gear</h1>
    <ul>
      <% character.gear.each do |gear| %>
        <li>
          <div class="flex">
            <%= gear.name %>
            <%= 
              button_to "Destroy", 
              entity_resource_path(entity: character, resource: gear), 
              method: :delete, 
              data: { 
                turbo_frame: "gear_list"
              } 
            %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</turbo-frame>